-e git+https://github.com/SpikeInterface/spikeextractors.git@master#egg=spikeextractors
-e git+https://github.com:SpikeInterface/spiketoolkit.git@master#egg=spiketoolkit
-e git+https://github.com:SpikeInterface/spikewidgets.git@master#egg=spikewidgets
ml_ms4alg
klusta 
klustakwik2
