-e git+https://github.com/SpikeInterface/spikeextractors.git@master#egg=spikeextractors
-e git+https://github.com/SpikeInterface/spiketoolkit.git@master#egg=spiketoolkit
klusta 
klustakwik2
joblib
mountainlab_pytools
