# klusta
Cython
h5py
tqdm
click
klusta
klustakwik2==0.2.6

# tridesclous
tridesclous==1.6

# ms4
ml_ms4alg==0.3.2

# herdingspikes
herdingspikes==0.3.7

# spyking-circus
spyking-circus==0.9.6 --no-binary=mpi4py
