-e git+https://github.com/SpikeInterface/spikeextractors.git@master#egg=spikeextractors
-e git+https://github.com/SpikeInterface/spiketoolkit.git@master#egg=spiketoolkit
-e git+https://github.com/kwikteam/phy.git@gloo#egg=phy
kbucket
mountainlab_pytools
klusta 
klustakwik2
joblib
mountainlab_pytools
